.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.boxes-container {
	display: grid;
	width: 150px;
	height: 150px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	border: 1px solid black;
	padding: .2rem;
}

.box {
	border: 2px solid black;
	margin: 10%;
}

.board {
	display: grid;
	width: 220px;
	height: 220px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: .5rem;
	grid-template-rows: 1fr 1fr 1fr;
}